.navbar-inverse {
    background-color: #14CCA8;
    border-color: #14CCA8;
}
.searchPanel{

 }

.recipeTitle{
    text-align: center;
    font-size: 2em;
    color: #14CCA8;

}

.recipeDesc{
    text-align: justify;
}